body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#secret {
  font-size: 24pt;
  margin-top: 20px;
}

#hang_image {
  width: 256px;
  height: 256px;
}
